<div class="contentarea" data-drupal-selector="edit-field-something-container">
    <div class="camera" data-drupal-selector="edit-field-something-container-camera">
        <video id="video" width="320" height="240"></video>
        <button id="startbutton" onclick="generateUrl()">Take picture</button>
    </div>
    <canvas id="canvas" width="320" height="240"></canvas>
    <div class="output">
        <img id="photo" src="{{ camera_src }}">
    </div>
    <script>
      const hide = document.getElementById('canvas');
      const isAdminPage = document.querySelector('article .field__item');
      if(isAdminPage) {
        document.querySelector('.camera').style.display = "none";
        document.querySelector('#canvas').style.display = "none";
      }

      hide.style.opacity = "0";
      hide.style.position = "absolute";
      
      function generateUrl() {
        setTimeout(() => {
        const url = document.getElementById('photo').src;
        const myUrl = document.getElementById('generate_url');
        myUrl.value = url;
        }, '500');

  }</script>
</div>